.logo{
    background-color: #1a650e;
    text-align: start;
    display: flex;
}

body{
    overflow-x: hidden;
    height: 96.5vh;
    background-image: url(../media/background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: 2150px 1520px;

}
ul{/*css da nav bar*/
    list-style-type: none;
    margin-left: -2vh;
    margin-right: -2vh;
    margin-top: -2vh;
    padding: 0;
    overflow: hidden;
    background-color: #1a650e;
    display: flex;
    align-items: center;
}

li {/*css da nav bar*/
    float: center;
}

li a {/*css da nav bar*/
    display: block;
    color: white;
    text-align: center;
    padding: 0px 55px;
    text-decoration: none;
    font-size: x-large;
}
    
#imagem {/*css da imagem de fundo*/
    border: 3px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    width: 300px;
    border-radius: 20%;
}

#menu{/*css da nav bar*/
    display: flex;
    flex-direction: row;
    height: auto;
}
 
.peuba{
    display: flex;/*css da nav bar, logo*/
    align-content: center;
    align-items: center;
    justify-content: left;
    justify-items: center;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 70%;
}

.texto{
    color: #ffffff;
    text-align: center;
} 

.titulo{/*palavras tipo usuario ou email*/
    color: #ffffff;
    margin: 1%;
    margin-top: 2%;
    display: block;
    font-size: 28px;
}

.caixadetexto{
    position: relative;
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    color: #15b615;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    margin: 1%;
}

.botao{
    /*botoes centrais, maiores */
     position: relative;
     background-color: white;
     border: none;
     font-size: 28px;
     color: #15b615;
     padding: 20px;
     width: 40%;
     text-align: center;
     border-radius: 10px;
     margin: 2%;
     margin-bottom: 4%;
}

footer {
    background-color: #1a650e;
    padding: 10px;
    margin-top: 0vh;
    margin-left: -2vh;
    margin-right: -2vh;
    color: yellow;
    text-align: center;
}

.fim{/*esqueceu senha, footer diferente do de login ou cadastro*/
    bottom: 0;
    right: 0;
    width: 100%;
    position: fixed;
}
/*caixa esqueceu a senha menor. PS:height auto não serve,pq? */
.box2{
    align-content: center;    
    text-align: center;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color: #1a650e;
    border-radius: 10px;
    height: 45%;
}