@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #043a04;
    background-image: url(../media/background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: 2150px 1620px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1C8B00;
    font-family: 'Irish Grover';
    font-weight: lighter;
}
.navbar{
    display: flex;
    gap: 8%;
    right: 5%;
    width: 95%;
    position: relative;
    justify-content: flex-end;
}
.navbar-item{
    font-size: 15px;
    font-weight: lighter;

    background-color: #177100; 
    height: 30px;
    width: 120px;
    
    border-radius: 5px;
    align-content: center;
    text-align: center;
}
.navbar-item:link{
    font-weight: lighter;
    color: #FAFF00;
}
.navbar-item:visited{
    font-weight: lighter;
    color: #FAFF00;
}
.navbar-item:hover{
    font-weight: lighter;
    color: #FAFF00;
    text-decoration: underline;
}
.navbar-item:active{
    font-weight: lighter;
    color: #FAFF00;
}
.flexboxLogo{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 10px;
    width: 20%;
}
.flexboxLogo p{
    color: #FAFF00;
    font-size: 30px;
}

footer{
    background-color: #1a650e;
    display: logo;
    padding: 30px;
    margin-top: 20px;
    color: yellow;
    text-align: center;
}

.fim{/*classe pro footer funcionar bem, matheus*/
    bottom: 0;
    right: 0;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.logo{
    text-align: left;
    display: flex;
    margin-left: 7px;
}

.menu-div{
    display: flex;
    justify-content: space-around;
}

.menu #logo img {
    width: auto;
    height: 50%;
    margin-right: 10px;
    margin-left: 10px;
    display: row;
}


.center{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Irish{
    font-family: 'Irish Grover';
    font-weight: lighter;
}