.page{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.logo{
    background-color: #1a650e;
    text-align: left;
    display: flex;

}
.menus{
    margin: 20px;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 28px;
}
ul{
    list-style-type: none;
    margin: 2vh;
    padding: 0;
    overflow: hidden;
    background-color: #1a650e;
    display: flex;
    align-items: center;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.main-area{
    width: 100%;
    display: flex;
    height: 500px;
    margin: 20px;
    background-color: gray;
}
.content{
    width: 35%;
    display: flex;
    margin: 20px;
    background-color: white;
}
.sidebar{
    width: 65%;
    display: flex;
    margin: 20px;
    background-color: white;
}
footer {
    background-color: #1a650e;
    padding: 10px;
    margin: 2vh;    
    color: yellow;
    text-align: center;
  }

.nav {
    margin: auto;
    padding: 20px;
    width: 70%;
    background-color: #1a650e;

    
  }
body{
    background-color: #043a04 ;
}
.texto{
    color: #ffffff;
    text-align: center;
}
.titulo{
    color: #ffffff;
    margin: 1%;
    display: block;
    font-size: 28px;
    
}
.logo-text {
    font-size: 18px; /* Adjust as needed */
    font-weight: bold;
    margin-right: 20px; /* Add space between icon and text */
    margin-bottom: 20px;
}
#imagem {
    
    border: 3px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    width: 300px;
    border-radius: 20%;
    
}
#menu{
    display: flex;
    flex-direction: row;
    height: auto;
}

.peuba{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: left;
    justify-items: center;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 70%;
}
.peuba img{
    width: 25%;
    text-align: left;
    display: block;
}
.peuba a{
    color: yellow;
    font-size: 20px;
}


.textos{
color: yellow;
text-align: center;

}

.hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: #1a650e;
  }

  .story{
    width: 100%;
    height: 25%
  }

  .box{
    text-align: center;
    width: 32%; 
    height: 80%;
    margin-left: auto;
    margin-right: auto; 
    background-color: #1a650e;
    border-radius: 15px;
    
 
}
#menu #logo img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add space between icon and text */
    margin-left: 10px;
    display: row;
}
 
  input[type='submit'],
  label {
    margin-top: 1rem;
}

.button{
background-color: #1a650e;


}

.botao{
    
    position: relative;
    background-color: #15b615;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    margin: 1%;
}
.caixadetexto{
    position: relative;
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    color: #15b615;
    padding: 10px;
    width: 280px;
    text-align: center;
    border-radius: 10px;
    margin: 1%; 
}


.popup {
position: relative;
display: inline-block;
cursor: pointer;
}
.popup .popuptext {
visibility: hidden;
width: 160px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 8px 0;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -80px;
}
.popup .popuptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}
.popup .show {
visibility: visible;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s
}
@-webkit-keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}
@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}  
